---

---

<aside class="">
  <div>
    <figure>
      <img />
    </figure>

    <div>
      <h1>Héctor Toral</h1>
      <p>Developer</p>
    </div>

    <button>
      <span>Show Contacts</span>
      <ion-icon></ion-icon>
    </button>
  </div>

  <div>
    <div></div>

    <ul>
      <li>
        <div>
          <ion-icon name="mail-outline"></ion-icon>
        </div>
        <div>
          <p>Email</p>
          <a>hectortoraltrabajos@gmail.com</a>
        </div>
      </li>
      <li>
        <div>
          <ion-icon></ion-icon>
        </div>

        <div>
          <p>Phone</p>
          <a>+34 622-540-660</a>
        </div>
      </li>

      <li>
        <div>
          <ion-icon></ion-icon>
        </div>

        <div>
          <p>Birthday</p>

          <time>May 15, 2001</time>
        </div>
      </li>

      <li>
        <div>
          <ion-icon></ion-icon>
        </div>

        <div>
          <p>Location</p>
          <address>Zaragoza, ES</address>
        </div>
      </li>
    </ul>

    <div></div>

    <ul>
      <li>
        <a>
          <ion-icon></ion-icon>
        </a>
      </li>

      <li>
        <a>
          <ion-icon></ion-icon>
        </a>
      </li>

      <li>
        <a>
          <ion-icon></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</aside>
