---
import Layout from "@/layouts/Layout.astro";
import projects from "@/data/projects";
import Project from "@/components/projects/ProjectCard.astro";

---

<Layout title="All Projects">
  <main class="flex flex-col gap-20">
    <h1 class="text-2xl text-neutral-100">Projects</h1>

    <article class="flex flex-col gap-4">
      {
        projects
          .filter(({isComingSoon}) => !isComingSoon)  
          .map(({title, link, techs}) => (
            <Project
              title={title}
              link={link}
              techs={techs}
            />
          ))
      }
    </article>
  </main>
</Layout>
